<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="exePath" value="" />
    <add key="startPara" value="" />
    <add key="stopPara" value="" />
    <add key="identifidBy" value="" />
    <!--name, pid-->
    <add key="pidFile" value=""/>
  </appSettings>
</configuration>