<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log" value=""/>
    <add key="javaPath" value="C:\Program Files\Java\jdk1.8.0_77\bin\java.exe" />
    <add key="appName" value="cs.WebApplication"/>
    <add key="classPath" value="X:\projects\springboot\web\content\WEB-INF\classes"/>
    <add key="jarDir" value="X:\projects\springboot\web\content\WEB-INF\lib" />
    <add key="pidFile" value="X:\projects\springboot\web\content\pid.txt"/>
  </appSettings>
</configuration>